<!DOCTYPE html>
<html>

<head>
    <title>详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <style>
        .article-detail-box {
            padding: 20px;
        }
        
        h2,
        p {
            text-align: center;
        }
        
        h2 {
            padding: 10px 0;
        }
        
        p {
            font-size: 14px;
            padding: 5px;
        }
        
        p span {
            padding: 0 15px;
        }
        
        .art_dt {
            font-size: 14px;
            line-height: 20px;
            margin-top: 15px;
        }
    </style>
</head>

<body>

    <%- include("./public/header") %>
        <div class="content">
            <div class="article-detail-box">
                <h2>
                    <%= data.articleTitle%>
                </h2>
                <p><span>作者：<%= data.articleAuthor %></span><span>发布时间：<%= data.articleTime %></span></p>

                <div class="art_dt">
                    <%= data.articleContent %>
                </div>
            </div>
        </div>
        <div id="overlay"></div>

        <% if(!user){ %>
            <!-- login dialog -->
            <div class="dialog_container" id="login_dialog">
                <div class="dialog_wrap">
                    <div class="dialog_head">
                        <em class="btn-close-dialog">X</em>
                        <h1>登录</h1>
                    </div>
                    <div class="dialog_main">
                        <form action="javascript:;" method="post" onsubmit="return indexMain.submitHandler(this);">
                            <div class="group">
                                <input class="form-input" placeholder="账号" name="username" type="text">
                            </div>
                            <div class="group">
                                <input class="form-input" placeholder="密码" name="pwd" type="password">
                            </div>
                            <button type="submit">登录</button>
                        </form>
                    </div>
                    <div class="dialog_foot">
                        <p style="padding:10px 0;"></p>
                    </div>
                </div>
            </div>
            <!-- register dialog -->
            <div class="dialog_container" id="regist_dialog">
                <div class="dialog_wrap">
                    <div class="dialog_head">
                        <em class="btn-close-dialog">X</em>
                        <h1>注册</h1>
                    </div>
                    <div class="dialog_main">
                        <form action="javascript:;" method="post" onsubmit="return indexMain.registHandler(this);">
                            <div class="group">
                                <input class="form-input" placeholder="账号" name="username" type="text">
                            </div>
                            <div class="group">
                                <input class="form-input" placeholder="密码" name="pwd" type="password">
                            </div>
                            <button type="submit">注册</button>
                        </form>
                    </div>
                    <div class="dialog_foot">
                        <p style="padding:10px 0;"></p>
                    </div>
                </div>
            </div>
            <% } %>
</body>
<script src="/javascripts/main.js"></script>
<script>
    $(function() {

    });
</script>

</html>