<!DOCTYPE html>
<html>

<head>
    <title>资讯-发布</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery.js"></script>
    <style>

    </style>
</head>

<body>

    <%- include("./public/header") %>
        <div class="content">
            <form action="javascript:;" method="post" id="edit-form" onsubmit="return indexMain.issueHandler(this, '<%= articleType%>', '<%= articleId%>');">
                <div class="form-group">
                    <h5>标题</h5>
                    <% if(articleType =='modifly'){ %>
                        <input type="text" class="title" name="title" value="<%= data.articleTitle%>" placeholder="标题.." autocomplete="off" required>
                    <% }else{ %>
                        <input type="text" class="title" name="title" placeholder="标题.." autocomplete="off" required>
                    <% } %>
                </div>
                <div class="form-group">
                    <h5>标签</h5>
                    <div class="tags-box flex-wrap flex-around" id="atc-tags">
                        <a href="javascript:;" data-tags="javascript">javascript</a>
                        <a href="javascript:;" data-tags="html/css">html/css</a>
                    </div>
                    <input type="hidden" name="tag" id="atc-tag-name">
                </div>
                <div class="form-group">
                    <h5>内容</h5>
                    <% if(articleType =='modifly'){ %>
                        <textarea name="content" placeholder="请输入..." required><%= data.articleContent%></textarea>
                    <% }else{ %>
                        <textarea name="content" placeholder="请输入..." required></textarea>
                    <% } %>
                </div>
                <p class="tips"></p>
                <input type="submit" class="btn-submit" value="发布">
            </form>
        </div>

        <div id="overlay"></div>
</body>
<script src="/javascripts/main.js"></script>
<script>
    var articleType = '<%= articleType%>';
    var articleId = '<%= articleId%>';
    $(function() {
        var isLogin = localStorage['token'] ? true : false;
        isLogin ? $('[data-loginType="unLogin"]').remove() : $('[data-loginType="hasLogin"]').remove();
    });
</script>

</html>